#hero-main-page{
        width: 100%;
        height: 500px;
.section-header {
        color: black;
        font-size: 24px;
        font-weight: bold;
        display: block;
        margin-bottom: 10px;
      }
